.grill_scene {
    position: relative;
    width: 600px;
    height: 400px;
}
#grill {
    position: absolute;
    left: 800px;
    top: 250px;
    width: 500px;
}
#smoke {
    position: absolute;
    left: 950px;
    top: 100px;
    width: 250px;
    z-index: 2;
}

/* .games {
    position: relative;
    top: 100px;

    width: 20px;
    height: 20px;
} */

#cornhole {
    position: relative;
    top: 280px;
    left: 400px;
    width: 100px;

}


